{% extends "../base.html" %}
{% block content%}
{% for title in post_list %}
<ul>
    <li class="list-unstyled">
        <div class="card">
            <div class="card-body">                
                <a href="{% url 'blog_detail' title.pk %}">{{ title.title }}</a>
                <div>
                    {{ title.created_time }}
                </div>
                {{ title.summary }}
            </div>
        </div>    
    </li>
</ul>
{% endfor %}

{% if page_obj %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
{% endif %}
{% endblock %}